
.card-body {
	input { height: 2.7rem;
	padding: 0;
	width: 300px;
	padding-right: 6rem;
	padding-left: 10px;
	border-radius: 2px;
}
Button {
	height: 2.5rem;
	margin-top: 0.1rem;
	margin-bottom: 0;
	position: absolute;
	margin-left: -4.65rem;
	border-radius: 0px;
}
}
.errorMsg {
max-width: 400px;
}

